.car-details-card{
  /*max-width: 800px;*/
  width: 50%;
  margin: 10px auto;
}

.car-details-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  /*lighter*/
  background-color: #e8eaf6;
  /*darker*/
  /*background-color: #c5cae9;*/
}

.list-of-cars {
  /*remove dots for list*/
  list-style-type: none;
  /*margin from top of site*/
  margin-top: 50px;
}

.stretch {
  width:100%;
  height:100%;
}

.center-image {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.center-banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-button {
  text-align:center;
  margin:auto;
}

.stretch-sad {
  width:50%;
  height:50%;
}
