.button-row button,
.button-row a {
  margin-right: 8px;
}

.car-details-card{
  /*max-width: 800px;*/
  width: 50%;
  margin: 10px auto;
}

.car-details-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: #e8eaf6;
}

.list-of-errors {
  /*remove dots for list*/
  list-style-type: none;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-button {
  text-align:center;
  margin:auto;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

mat-slider {
  width: 100%;
}

.example-full-width {
  width: 100%;
}
