
<div>
  <button mat-raised-button color="primary" (click)="goBack()">go back to list</button>
</div>

<div *ngIf="car">
  <mat-card class="car-details-card">
    <mat-card-header>
      <mat-card-title> {{matCardTitle}} </mat-card-title>
      <mat-card-subtitle>{{car.make}} {{car.model}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

      <mat-checkbox [(ngModel)]="car.recommended">Promote</mat-checkbox>
      <br>
      <div *ngIf="errMsg" style="text-align:center" class="mat-title"><font color="#cc0000"><h5>{{errMsg}}</h5></font></div>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Car make:" [(ngModel)]="car.make">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Car model:" [(ngModel)]="car.model">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Color of a car:" [(ngModel)]="car.color">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Manufacture year:" [(ngModel)]="car.mfy">
      </mat-form-field>

      <br>
      <img [src]="carImgUrl" style="width: 50%; height: 50%">

      <!--file upload-->
      <br>
      <div [hidden]="(true)">
        <input id="input-file-id" multiple type="file" (change)="onFileChange($event)"/>
      </div>
      <label for="input-file-id" class="mat-button mat-raised-button">Change car image</label>

    </mat-card-content>

    <mat-card-actions align="center">
      <div [hidden]="!inEditMode()">
        <!--editing existing car-->
        <div class="button-row">
          <button mat-stroked-button color="primary" routerLink="/dashboard">cancel</button>
          <button mat-stroked-button color="primary" (click)="edit()">save</button>
          <button mat-stroked-button color="accent" (click)="delete(car)">DELETE</button>
        </div>
      </div>
      <div [hidden]="inEditMode()">
        <!--adding new car-->
        <div class="button-row">
          <button mat-stroked-button color="primary" routerLink="/dashboard">cancel</button>
          <button mat-stroked-button color="primary" (click)="addNew()">ADD</button>
        </div>
      </div>

    </mat-card-actions>
  </mat-card>
</div>
