<div class="button-row">
  <div [hidden]="isAuthenticated()">
    <button mat-stroked-button color="primary" routerLink="/welcome">Welcome screen</button>
    &nbsp;
    <button mat-stroked-button color="accent" routerLink="/favorites">My favorite cars</button>
  </div>
  <div [hidden]="!isAuthenticated()">
    <button mat-stroked-button color="primary" routerLink="/welcome">Welcome screen</button>
  </div>
</div>

<div [hidden]="!isAuthenticated()">
    <div style="text-align:right" class="mat-subheading-2">
      <button mat-raised-button routerLink="/dashboard">Seller dashboard</button>
      &nbsp;
      <button mat-stroked-button color="primary" (click)="logout()">Logout</button>
    </div>
</div>

<!--<div [hidden]="isAuthenticated()">-->
  <!--<div style="text-align:right" class="mat-subheading-2">-->
    <!--<button mat-raised-button (click)="login()">Seller dashboard</button>-->
  <!--</div>-->
<!--</div>-->

<div [hidden]="isAuthenticated()">
  <div style="text-align:right" class="mat-subheading-2">
    <button mat-raised-button (click)="openDialog()">Seller dashboard</button>
  </div>
</div>

<router-outlet></router-outlet>
