.example-card {
  max-width: 400px;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-button {
  text-align:center;
  margin:auto;
}

.stretch {
  width:100%;
  height:100%;
}

